@font-face {
  font-family: NarutoFont;
  src: url(./assets/font/njnaruto.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: NarutoFont, Inter;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0ede1;
  background-image: url(./assets/img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

html {
  font-size: 62.5%;
}

.container h3 {
  font-size: 1.6rem;
  justify-self: center;
  color: #083b7b;
}

.container {
  background-color: rgba(255, 255, 255, 0.824);
  padding: 1rem 0.5rem;
}

.card-img {
  width: 250px;
  height: 170px;
  transition: all 0.2s;
  border-radius: 2px;
  box-shadow: 2px 3px 10px 1px #00000012;
}

.card-img:hover {
  transform: translateY(2%);
  cursor: pointer;
}

#root {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container {
  width: 120rem;
  min-height: 100%;
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.primary-heading {
  font-size: 4.8rem;
  text-align: center;
  margin: 2rem 0;
  color: #ff7b36;
}

.introductory-text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.6rem;
  color: #083b7b;
}

.game-over-msg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.game-over-msg p {
  font-size: 3.6rem;
  color: #083b7b;
  text-align: center;
  line-height: 6rem;
}

.retry-btn {
  background-color: #ff7b36;
  width: 20rem;
  height: 6rem;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  color: #083b7b;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
  outline: 0.6rem solid #f5b598;
}

.retry-btn:hover {
  background-color: #f5b598;
}

.scores {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  color: #ff7b36;
}

.win-msg {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  text-align: center;
  color: #083b7b;
  line-height: 11rem;
  gap: 5rem;
}

footer {
  position: absolute;
  top: 1rem;
  left: 2rem;

  font-size: 1.2rem;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
  color: #ff7b36;
  text-decoration: none;
}

footer img {
  width: auto;
  height: 24px;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
