@font-face {
  font-family: NarutoFont;
  src: url(./assets/font/njnaruto.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: NarutoFont, Inter;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-size: 62.5%;
}

.container h3 {
  margin-top: 1rem;
  font-size: 1.6rem;
  justify-self: center;
}

.card-img {
  max-width: 250px;
  height: 190px;
  transition: all 0.2s;
  border-radius: 2px;
  box-shadow: 2px 3px 10px 1px #00000012;
}

.card-img:hover {
  transform: translateY(-2%);
  cursor: pointer;
}

.card-container {
  width: 130rem;
  display: grid;
  justify-items: center;
  row-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}
